body {
    background-image: var(--ifm-background-image);
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    letter-spacing: .025em;
    min-height: 100vh;
}